body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

a:hover {
    color: white;
}

.main-container {
    background: url('../imgs/bg.jpg') no-repeat center 100px white fixed;
    background-size: 100% auto;
}

.main-menu {
    height: 100px;
    padding-top: 5px;
}

.brand-logo {
    display: block;
    float: left;
}

.main-menu-items {
    float: right;
    padding-top: 40px;
}

.menu-item {
    float: left;
    height: 50px;
    width: 170px;
    background-color: #0599d9;
    text-align: center;
    padding: 6px 0;
    margin-left: 5px;
    cursor: pointer;
}

.menu-item a {
    text-decoration: none;
    color: white;
}

.menu-item-1 {
    margin-left: 0;
}

.menu-item a:hover, .menu-item a:active, .menu-item a:visited, .menu-item a:link {
    text-decoration: none;
    color: white;
}

.menu-item .menu-item-text {
    margin: 0 auto 5px auto;
    padding: 0;
}

.dropdown-menu {
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
}

.menu-dropdown-item {
    height: 50px;
    width: 100%;
    background-color: #0599d9;
    text-align: center;
    margin-bottom: 2px;
    padding: 6px 0;
}

.menu-dropdown-item h6 {
    font-size: 10px;
}

.menu-dropdown-item.last {
    margin-bottom: 0;
}

.main-footer {
    min-height: 84px;
    position: fixed;
    bottom: 0;
    background: white;
    width: 100%;
}

.content {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#carousel-example-generic {
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.copyright {
    padding-top: 10px;
}

::-webkit-scrollbar {
    visibility: hidden;
}

.page-content {
    padding: 35px;
    overflow-y: auto;
    overflow-x: hidden;
}

.page-title {
    color: #3bb3ff;
    padding-bottom: 15px;
    background: url('../imgs/h1bg.png') bottom left repeat-x transparent;
}

.page-detail {
    padding-top: 15px;
}

.page-content-uiview.ng-enter {
    transition: 1.5s linear all;
    opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.page-content-uiview.ng-enter.ng-enter-active {
    opacity: 1;
}

@media (min-width: 1200px) {
    .menu-item-1, .menu-item-5, .menu-item-6 {
        width: 100px;
    }
}

@media (min-width: 1350px) {
    .container {
        width: 1350px;
    }

    .menu-item-1, .menu-item-5, .menu-item-6 {
        width: 170px;
    }
}

